<h2>Sign up</h2>

<div class="ui grid">
<div class="twelve wide column">
<%= form_for(resource, as: resource_name, html:{class:"ui form"}, data: { turbo: false }, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password Confirmation"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"ui button", style:"margin-bottom:1rem;"%>
  </div>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
